<!--
  * button.html
	* 按钮
-->

<div class="page-padd">
  <h3 class="title2">主按钮</h3>
  <!--主按钮-->
  <a href="#" class="sm-btn primary">主按钮 primary</a>
  <a href="#" class="sm-btn primary disabled">主按钮 禁用</a>
  
  <h3 class="title2">警告按钮</h3>
  <!--警告-->
  <a href="#" class="sm-btn warn">警告 warn</a>
  <a href="#" class="sm-btn warn disabled">警告 禁用</a>
  
  <h3 class="title2">默认按钮</h3>
  <!--默认按钮-->
  <a href="#" class="sm-btn default">默认 default</a>
  <a href="#" class="sm-btn default disabled">默认 禁用</a>
  
  <h3 class="title2">白底 主按钮</h3>
  <!--白底-主按钮-->
  <a href="#" class="sm-btn plain-primary">白底 主按钮 plain-primary</a>
  <a href="#" class="sm-btn plain-primary disabled">白底 主按钮 禁用</a>
  
  <h3 class="title2">小按钮</h3>
  <!--小按钮-->
  <a href="#" class="sm-btn mini primary">小按钮</a>
  <a href="#" class="sm-btn mini plain-primary">小按钮</a>
  <a href="#" class="sm-btn mini default">小按钮</a>
  
</div>


