<!--
  * checkbox.html
	* 列表
-->
<!--跳转-->
<div class="sm-list-header">跳转</div>
<div class="sm-list">
  <ul>
    <li> 
      <a href="javascript:;" class="sm-list-cell">
        <div>标题1</div>
        <span></span>
      </a>
    </li>
    <li> 
      <a href="javascript:;" class="sm-list-cell">
        <div>标题2</div>
        <span>提示</span>
      </a>
    </li>
  </ul>
</div>
<!--//跳转-->
<!--无跳转-->
<div class="sm-list-header">无跳转</div>
<div class="sm-list">
  <ul>
    <li class="nolink"> 
      <div class="sm-list-cell">
        <div>标题3</div>
        <span>提示</span>
      </div>
    </li>
  </ul>
</div>
<!--//无跳转-->
