@import "../base/fn";

.sm-btn{
  position: relative;
  display: block;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
  font-size: $btnFontSize;
  text-align: center;
  text-decoration: none;
  color: $btnFontColor;
  line-height: $btnHeight/$btnFontSize;
  border-radius: $btnBorderRadius;
  &:active{
    color: $btnActiveFontColor;
  }
}

//主按钮
.sm-btn.primary{
  background-color: $btnPrimaryBg;
  &:active{
    background-color: $btnPrimaryActiveBg;
  }
}
//警告按钮
.sm-btn.warn{
  background-color: $btnWarnBg;
  &:active{
    background-color: $btnWarnActiveBg;
  }
}
//默认按钮
.sm-btn.default{
  color: $btnDefaultFontColor;
  background-color: $btnDefaultBg;
  border: 1px solid $btnDefaultBorderColor;
  &:active{
    color: $btnDefaultActiveFontColor;
    background-color: $btnDefaultActiveBg;
  }
}

//白底-主按钮
.sm-btn.plain-primary{
  color: $btnPlainPrimaryColor;
  border: 1px solid $btnPlainPrimaryBorderColor;
  &:active{
    color: $btnPlainPrimaryActiveColor;
    border-color: $btnPlainPrimaryActiveBorderColor;
  }
}

//禁用
.sm-btn.disabled{
  color: $btnDisabledFontColor;
  cursor: default;
  &.primary{
    background-color: $btnPrimaryDisabledBg;
  }
  &.warn{
    background-color: $btnWarnDisabledBg;
  }
  &.default{
    color: $btnDefaultDisabledFontColor;
    background-color: $btnDefaultDisabledBg;
  }
  &.plain-primary{
    color: $btnDefaultDisabledFontColor;
    border-color: $btnDefaultBorderColor;
  }
}

//小按钮
.sm-btn.mini{
  display: inline-block;
  padding: 0 1.32em;
  line-height: $btnMiniHeight;
  font-size: $btnMiniFontSize;
}

//兼容button标签
button, input{
  &.sm-btn {
    width: 100%;
    border-width: 0;
    outline: 0;
    -webkit-appearance: none;
    &:focus {
        outline: 0;
    }
  }
}
//两个按钮垂直排列时间距
.sm-btn + .sm-btn{
  margin-top: 15px;
}



