/*global*/
@import "base/global";

/*icon font*/
@import "icon/icon-font";

/*组件-button*/
@import "components/button";

/*组件-dialog*/
@import "components/dialog";

/*组件-checkbox*/
@import "components/check";

/*组件-switch*/
@import "components/switch";

/*组件-list*/
@import "components/list";

/*遮罩层*/
.mask {
	position: fixed;
	z-index: 999;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.6);
}

