// button变量
$btnHeight:46px;
$btnFontSize:18px;
$btnFontColor:#fff;
$btnActiveFontColor:rgba(255,255,255,.6);
$btnDisabledFontColor:rgba(255,255,255,.6);

//圆角
$btnBorderRadius: 5px;

//默认按钮
$btnDefaultFontColor:#000;
$btnDefaultActiveFontColor:rgba(0,0,0,.6);
$btnDefaultDisabledFontColor:rgba(0,0,0,.3);
$btnDefaultBg:#F8F8F8;
$btnDefaultActiveBg:#DEDEDE;
$btnDefaultDisabledBg:#F7F7F7;
$btnDefaultBorderColor:rgba(0,0,0,.1);


//主按钮
$btnPrimaryBg: #f60;
$btnPrimaryActiveBg: #CE5D11;
$btnPrimaryDisabledBg: #EEBC9E;

//警告按钮
$btnWarnBg:#E64340;
$btnWarnActiveBg:#CE3C39;
$btnWarnDisabledBg:#EC8B88;

//小按钮
$btnMiniFontSize:13px;
$btnMiniHeight:2.3;




